DATASETS

1. World Bank Open Data - Forest coverage (API)
2. UN Data - Population by sex and urban/rural residence between 2000 - 2020 (csv)
3. Food and Agriculture Organization of the United Nations (FAO) - FAOSTAT

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

To access the World Bank Open Data API using Python, we installed the wbdata library

In [2]:
pip install wbdata

Requirement already satisfied: wbdata in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (0.3.0)
Requirement already satisfied: decorator>=4.0 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from wbdata) (5.0.6)
Requirement already satisfied: tabulate>=0.8.5 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from wbdata) (0.9.0)
Requirement already satisfied: appdirs<2.0,>=1.4 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from wbdata) (1.4.4)
Requirement already satisfied: requests>=2.0 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from wbdata) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from requests>=2.0->wbdata) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from requests>=2.0->wbdata) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from requests>=2.0->wbdata) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from requests>=2.0->wbdata) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

Imported the data and looked at timeframe, countries and created the dataframe

In [3]:
import wbdata
import pandas as pd
import datetime 

# Set the indicator code for forest coverage
indicator_code = 'AG.LND.FRST.ZS'

# Set the start and end year for the data
start_year = 2000
end_year = 2020

# Set the countries to retrieve data for
countries = ['USA', 'CAN', 'MEX']

# Retrieve the data
start_date = datetime.datetime(start_year, 1, 1)
end_date = datetime.datetime(end_year, 12, 31)

forest_data = wbdata.get_data(indicator_code, country=countries, data_date=(start_date, end_date))

# Convert the data to a pandas DataFrame
df = pd.DataFrame(forest_data)
print(df)

                                            indicator  \
0   {'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...
1   {'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...
2   {'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...
3   {'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...
4   {'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...
..                                                ...
58  {'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...
59  {'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...
60  {'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...
61  {'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...
62  {'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...

                                   country countryiso3code  date      value  \
0          {'id': 'CA', 'value': 'Canada'}             CAN  2020  38.695513
1          {'id': 'CA', 'value': 'Canada'}             CAN  2019  38.699637
2          {'id': 'CA', 'value': 'Canada'}             CAN  2018  38.703763
3          {'id': 'CA', 'value': 'Canada'}             CAN  2017  38.707888
4          {'id': 'CA', 'value': 'Canada'}             CAN  2016  38.712013
..                                     ...             ...   ...        ...
58  {'id': 'US', 'value': 'United States'}             USA  2004  33.356502
59  {'id': 'US', 'value': 'United States'}             USA  2003  33.299920
60  {'id': 'US', 'value': 'United States'}             USA  2002  33.243338
61  {'id': 'US', 'value': 'United States'}             USA  2001  33.186756
62  {'id': 'US', 'value': 'United States'}             USA  2000  33.130174

   unit obs_status  decimal
0                         1
1                         1
2                         1
3                         1
4                         1
..  ...        ...      ...
58                        1
59                        1
60                        1
61                        1
62                        1

[63 rows x 8 columns]

In [4]:
df.head()

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...","{'id': 'CA', 'value': 'Canada'}",CAN,2020,38.695513,,,1
1,"{'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...","{'id': 'CA', 'value': 'Canada'}",CAN,2019,38.699637,,,1
2,"{'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...","{'id': 'CA', 'value': 'Canada'}",CAN,2018,38.703763,,,1
3,"{'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...","{'id': 'CA', 'value': 'Canada'}",CAN,2017,38.707888,,,1
4,"{'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...","{'id': 'CA', 'value': 'Canada'}",CAN,2016,38.712013,,,1

checking average forest coverage for selected countries

In [5]:

# Calculate the average forest coverage for each country
avg_forest_coverage = df.groupby('countryiso3code')['value'].mean()

# Print the average forest coverage for each country
print('Average forest coverage by country:')
print(avg_forest_coverage)

Average forest coverage by country:
countryiso3code
CAN    38.741693
MEX    34.463532
USA    33.631871
Name: value, dtype: float64

checking min and max coverage

In [6]:

# Determine which country has the highest and lowest forest coverage
max_coverage = df.loc[df['value'].idxmax()]
min_coverage = df.loc[df['value'].idxmin()]

# Print the country with the highest and lowest forest coverage
print(f'The country with the highest forest coverage is {max_coverage["country"]} with a coverage of {max_coverage["value"]:.2f}%.')
print(f'The country with the lowest forest coverage is {min_coverage["country"]} with a coverage of {min_coverage["value"]:.2f}%.')

# Determine if any country has seen significant increases or decreases in forest coverage during the specified time period
for country in countries:
    country_data = df.loc[df['countryiso3code'] == country]
    initial_coverage = country_data.loc[country_data['date'] == str(start_year)]['value'].values[0]
    final_coverage = country_data.loc[country_data['date'] == str(end_year)]['value'].values[0]
    change = final_coverage - initial_coverage
    if abs(change) > 5:
        if change > 0:
            print(f'{country} has seen a significant increase in forest coverage of {change:.2f}% between {start_year} and {end_year}.')
        else:
            print(f'{country} has seen a significant decrease in forest coverage of {change:.2f}% between {start_year} and {end_year}.')

The country with the highest forest coverage is {'id': 'CA', 'value': 'Canada'} with a coverage of 38.79%.
The country with the lowest forest coverage is {'id': 'US', 'value': 'United States'} with a coverage of 33.13%.

In [7]:
# Retrieve the global forest coverage data for the specified time period
global_forest_data = wbdata.get_data(indicator_code,  data_date=(start_date, end_date))

In [8]:
global_forest_df = pd.DataFrame(global_forest_data)
global_forest_df.head()

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2020,30.174186,,,1
1,"{'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2019,30.391558,,,1
2,"{'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2018,30.611444,,,1
3,"{'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2017,30.824248,,,1
4,"{'id': 'AG.LND.FRST.ZS', 'value': 'Forest area...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2016,31.039613,,,1

In [9]:
# Calculate the average global forest coverage for the specified time period
global_avg_forest_coverage = df['value'].mean()
print(global_avg_forest_coverage)

# Compare the average forest coverage in the selected countries to the global average
if avg_forest_coverage.mean() > global_avg_forest_coverage:
    print('The selected countries have higher than average forest coverage compared to the global average.')
elif avg_forest_coverage.mean() < global_avg_forest_coverage:
    print('The selected countries have lower than average forest coverage compared to the global average.')
else:
    print('The selected countries have average forest coverage compared to the global average.')

35.61236560761129
The selected countries have higher than average forest coverage compared to the global average.

In [10]:
pip install pycountry pycountry_convert

Requirement already satisfied: pycountry in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (22.3.5)
Requirement already satisfied: pycountry_convert in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (0.7.2)
Requirement already satisfied: setuptools in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pycountry) (52.0.0.post20210125)
Requirement already satisfied: pytest>=3.4.0 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pycountry_convert) (6.2.3)
Requirement already satisfied: pprintpp>=0.3.0 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pycountry_convert) (0.4.0)
Requirement already satisfied: pytest-mock>=1.6.3 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pycountry_convert) (3.10.0)
Requirement already satisfied: wheel>=0.30.0 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pycountry_convert) (0.36.2)
Requirement already satisfied: pytest-cov>=2.5.1 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pycountry_convert) (4.0.0)
Requirement already satisfied: repoze.lru>=0.7 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pycountry_convert) (0.7)
Requirement already satisfied: attrs>=19.2.0 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (20.3.0)
Requirement already satisfied: iniconfig in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.1.1)
Requirement already satisfied: packaging in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (20.9)
Requirement already satisfied: pluggy<1.0.0a1,>=0.12 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (0.13.1)
Requirement already satisfied: py>=1.8.2 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.10.0)
Requirement already satisfied: toml in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (0.10.2)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.4.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: colorama in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (0.4.4)
Requirement already satisfied: coverage[toml]>=5.2.1 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from pytest-cov>=2.5.1->pycountry_convert) (7.2.3)
Requirement already satisfied: tomli in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from coverage[toml]>=5.2.1->pytest-cov>=2.5.1->pycountry_convert) (2.0.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\bogla_d7nsnlv\anaconda3\lib\site-packages (from packaging->pytest>=3.4.0->pycountry_convert) (2.4.7)

In [11]:
import pycountry
import pycountry_convert as pc

def country_to_continent (country_alpha2):        
    continent_code = pc.country_alpha2_to_continent_code (country_alpha2)    
    continent_name = pc.convert_continent_code_to_continent_name(continent_code)
    return continent_name

# Create a lookup table mapping country codes to continents
country_code_to_continent = {}
for country in pycountry.countries:  
    try:
        continent = country_to_continent(country.alpha_2)        
        country_code_to_continent[country.alpha_3]= continent         
    except:
        pass
print(country_code_to_continent)

{'ABW': 'North America', 'AFG': 'Asia', 'AGO': 'Africa', 'AIA': 'North America', 'ALA': 'Europe', 'ALB': 'Europe', 'AND': 'Europe', 'ARE': 'Asia', 'ARG': 'South America', 'ARM': 'Asia', 'ASM': 'Oceania', 'ATG': 'North America', 'AUS': 'Oceania', 'AUT': 'Europe', 'AZE': 'Asia', 'BDI': 'Africa', 'BEL': 'Europe', 'BEN': 'Africa', 'BES': 'North America', 'BFA': 'Africa', 'BGD': 'Asia', 'BGR': 'Europe', 'BHR': 'Asia', 'BHS': 'North America', 'BIH': 'Europe', 'BLM': 'North America', 'BLR': 'Europe', 'BLZ': 'North America', 'BMU': 'North America', 'BOL': 'South America', 'BRA': 'South America', 'BRB': 'North America', 'BRN': 'Asia', 'BTN': 'Asia', 'BVT': 'Antarctica', 'BWA': 'Africa', 'CAF': 'Africa', 'CAN': 'North America', 'CCK': 'Asia', 'CHE': 'Europe', 'CHL': 'South America', 'CHN': 'Asia', 'CIV': 'Africa', 'CMR': 'Africa', 'COD': 'Africa', 'COG': 'Africa', 'COK': 'Oceania', 'COL': 'South America', 'COM': 'Africa', 'CPV': 'Africa', 'CRI': 'North America', 'CUB': 'North America', 'CUW': 'North America', 'CXR': 'Asia', 'CYM': 'North America', 'CYP': 'Asia', 'CZE': 'Europe', 'DEU': 'Europe', 'DJI': 'Africa', 'DMA': 'North America', 'DNK': 'Europe', 'DOM': 'North America', 'DZA': 'Africa', 'ECU': 'South America', 'EGY': 'Africa', 'ERI': 'Africa', 'ESP': 'Europe', 'EST': 'Europe', 'ETH': 'Africa', 'FIN': 'Europe', 'FJI': 'Oceania', 'FLK': 'South America', 'FRA': 'Europe', 'FRO': 'Europe', 'FSM': 'Oceania', 'GAB': 'Africa', 'GBR': 'Europe', 'GEO': 'Asia', 'GGY': 'Europe', 'GHA': 'Africa', 'GIB': 'Europe', 'GIN': 'Africa', 'GLP': 'North America', 'GMB': 'Africa', 'GNB': 'Africa', 'GNQ': 'Africa', 'GRC': 'Europe', 'GRD': 'North America', 'GRL': 'North America', 'GTM': 'North America', 'GUF': 'South America', 'GUM': 'Oceania', 'GUY': 'South America', 'HKG': 'Asia', 'HMD': 'Antarctica', 'HND': 'North America', 'HRV': 'Europe', 'HTI': 'North America', 'HUN': 'Europe', 'IDN': 'Asia', 'IMN': 'Europe', 'IND': 'Asia', 'IOT': 'Asia', 'IRL': 'Europe', 'IRN': 'Asia', 'IRQ': 'Asia', 'ISL': 'Europe', 'ISR': 'Asia', 'ITA': 'Europe', 'JAM': 'North America', 'JEY': 'Europe', 'JOR': 'Asia', 'JPN': 'Asia', 'KAZ': 'Asia', 'KEN': 'Africa', 'KGZ': 'Asia', 'KHM': 'Asia', 'KIR': 'Oceania', 'KNA': 'North America', 'KOR': 'Asia', 'KWT': 'Asia', 'LAO': 'Asia', 'LBN': 'Asia', 'LBR': 'Africa', 'LBY': 'Africa', 'LCA': 'North America', 'LIE': 'Europe', 'LKA': 'Asia', 'LSO': 'Africa', 'LTU': 'Europe', 'LUX': 'Europe', 'LVA': 'Europe', 'MAC': 'Asia', 'MAF': 'North America', 'MAR': 'Africa', 'MCO': 'Europe', 'MDA': 'Europe', 'MDG': 'Africa', 'MDV': 'Asia', 'MEX': 'North America', 'MHL': 'Oceania', 'MKD': 'Europe', 'MLI': 'Africa', 'MLT': 'Europe', 'MMR': 'Asia', 'MNE': 'Europe', 'MNG': 'Asia', 'MNP': 'Oceania', 'MOZ': 'Africa', 'MRT': 'Africa', 'MSR': 'North America', 'MTQ': 'North America', 'MUS': 'Africa', 'MWI': 'Africa', 'MYS': 'Asia', 'MYT': 'Africa', 'NAM': 'Africa', 'NCL': 'Oceania', 'NER': 'Africa', 'NFK': 'Oceania', 'NGA': 'Africa', 'NIC': 'North America', 'NIU': 'Oceania', 'NLD': 'Europe', 'NOR': 'Europe', 'NPL': 'Asia', 'NRU': 'Oceania', 'NZL': 'Oceania', 'OMN': 'Asia', 'PAK': 'Asia', 'PAN': 'North America', 'PER': 'South America', 'PHL': 'Asia', 'PLW': 'Oceania', 'PNG': 'Oceania', 'POL': 'Europe', 'PRI': 'North America', 'PRK': 'Asia', 'PRT': 'Europe', 'PRY': 'South America', 'PSE': 'Asia', 'PYF': 'Oceania', 'QAT': 'Asia', 'REU': 'Africa', 'ROU': 'Europe', 'RUS': 'Europe', 'RWA': 'Africa', 'SAU': 'Asia', 'SDN': 'Africa', 'SEN': 'Africa', 'SGP': 'Asia', 'SGS': 'South America', 'SHN': 'Africa', 'SJM': 'Europe', 'SLB': 'Oceania', 'SLE': 'Africa', 'SLV': 'North America', 'SMR': 'Europe', 'SOM': 'Africa', 'SPM': 'North America', 'SRB': 'Europe', 'SSD': 'Africa', 'STP': 'Africa', 'SUR': 'South America', 'SVK': 'Europe', 'SVN': 'Europe', 'SWE': 'Europe', 'SWZ': 'Africa', 'SYC': 'Africa', 'SYR': 'Asia', 'TCA': 'North America', 'TCD': 'Africa', 'TGO': 'Africa', 'THA': 'Asia', 'TJK': 'Asia', 'TKL': 'Oceania', 'TKM': 'Asia', 'TON': 'Oceania', 'TTO': 'North America', 'TUN': 'Africa', 'TUR': 'Asia', 'TUV': 'Oceania', 'TWN': 'Asia', 'TZA': 'Africa', 'UGA': 'Africa', 'UKR': 'Europe', 'URY': 'South America', 'USA': 'North America', 'UZB': 'Asia', 'VCT': 'North America', 'VEN': 'South America', 'VGB': 'North America', 'VIR': 'North America', 'VNM': 'Asia', 'VUT': 'Oceania', 'WLF': 'Oceania', 'WSM': 'Oceania', 'YEM': 'Asia', 'ZAF': 'Africa', 'ZMB': 'Africa', 'ZWE': 'Africa'}

In [12]:
# add continent data to dataframe

global_forest_df['continent'] = global_forest_df['countryiso3code'].map(country_code_to_continent)
avg_forest_coverage_by_continent = global_forest_df.groupby('continent')['value'].mean()
print(avg_forest_coverage_by_continent)

continent
Africa           28.969330
Asia             22.960607
Europe           30.304611
North America    37.713132
Oceania          49.680202
South America    51.244379
Name: value, dtype: float64

UN Data on Population by sex and urban/rural residence between 2000 - 2020

In [13]:
population = pd.read_csv("population_by_sex_residence.csv", index_col = 0)
population.head()

,Year,Area,Sex,Record Type,Reliability,Source Year,Value,Value Footnotes
Country or Area,,,,,,,,
Afghanistan,2020,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2021.0,31390171.0,1
Afghanistan,2019,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2019.0,30725560.0,1
Afghanistan,2018,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2019.0,30075018.0,1
Afghanistan,2017,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2018.0,28224323.0,1
Afghanistan,2016,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2017.0,27657145.0,1

In [14]:
population.columns
population.reset_index(inplace=True)
population.columns
population.head()

,Country or Area,Year,Area,Sex,Record Type,Reliability,Source Year,Value,Value Footnotes
0,Afghanistan,2020,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2021.0,31390171.0,1
1,Afghanistan,2019,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2019.0,30725560.0,1
2,Afghanistan,2018,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2019.0,30075018.0,1
3,Afghanistan,2017,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2018.0,28224323.0,1
4,Afghanistan,2016,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2017.0,27657145.0,1

In [15]:
def country_name_to_continent (country_name):        
    country_code = pc.country_name_to_country_alpha2(country_name)    
    continent_name = country_to_continent(country_code)
    return continent_name

population['continent'] = population['Country or Area'].map(country_name_to_continent(country_name_to_continent))
population.head()

TypeError: object of type 'function' has no len()

Third dataset on food production

In [16]:
food = pd.read_csv("food_production.csv", index_col = 0)
food.head()

C:\Users\bogla_d7nsnlv\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
Area Code,,,,,,,,,,,,
2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1975,1975,ha,0.0,E
2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1976,1976,ha,5900.0,E
2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1977,1977,ha,6000.0,E
2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1978,1978,ha,6000.0,E
2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1979,1979,ha,6000.0,E